<% include ./header.ejs %>

<div class="row text-center" style="margin-top: 150px">

    <% appointment.forEach(function (app) { %>
    <div class="row" style="margin-left: 75px">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;margin: 30px">
                <div class="card-body">
                    <h5 class="card-title">Department: <%= app.department %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Doctor: Dr Rajeev</h6>
                    <p class="card-text">Appointment Completed: <%= app.isCompleted %></p>
                    <p class="card-text">Date: <%= app.date %></p>
                    <p class="card-text">Time: <%= app.time %></p>
                    <a href="#" class="card-link">Prescription</a>
                </div>
            </div>
        </div>
    </div>
    <% }) %>

</div>

