<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Prescription</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <style>
            form_main {
                width: 100%;
            }
            .form_main h4 {
                font-family: roboto;
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 15px;
                margin-top: 20px;
                text-transform: uppercase;
            }
            .heading {
                border-bottom: 1px solid #fcab0e;
                padding-bottom: 9px;
                position: relative;
            }
            .heading span {
                background: #9e6600 none repeat scroll 0 0;
                bottom: -2px;
                height: 3px;
                left: 0;
                position: absolute;
                width: 75px;
            }
            .form {
                border-radius: 7px;
                padding: 6px;
            }
            .txt[type='text'] {
                border: 1px solid #ccc;
                margin: 10px 0;
                padding: 10px 0 10px 5px;
                width: 100%;
            }
            .txt_3[type='text'] {
                margin: 10px 0 0;
                padding: 10px 0 10px 5px;
                width: 100%;
            }
            .txt2[type='submit'] {
                background: #242424 none repeat scroll 0 0;
                border: 1px solid #4f5c04;
                border-radius: 25px;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                line-height: 35px;
                margin: 10px 0;
                padding: 0;
                text-transform: uppercase;
                width: 30%;
            }
            .txt2:hover {
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                color: #5793ef;
                transition: all 0.5s ease 0s;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <form action="/doctor/prescription" method="POST">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form_main">
                            <h4 class="heading">
                                <strong>Max</strong> Health Care <span></span>
                            </h4>
                            Patient name :
                            <input type="text" name="name" /> &nbsp;&nbsp; Age :
                            <input type="number" name="age" /> &nbsp;&nbsp;
                            Gender :
                            <input type="radio" name="gender" /> M&nbsp; &nbsp;
                            <input type="radio" name="gender" />&nbsp;F <br />
                            <br />
                            MaxID: <input type="number" /> &nbsp;&nbsp; Doctor
                            Name : <input type="text" name="doc_name" /> &nbsp;
                            &nbsp; Date:
                            <input type="date" name="date" /> &nbsp;&nbsp;
                            Invoice Number :
                            <input type="number" name="invoice" />

                            <hr style="color: orangered" size="300" />

                            <div class="form-group">
                                <label for="allergy">Allergy:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="allergy"
                                />
                            </div>
                            <div class="form-group">
                                <label for="illness">
                                    Chief complaints and history of present
                                    illness:
                                </label>
                                <textarea
                                    id="illness"
                                    class="form-control"
                                    rows="5"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="physical"
                                    >Physical Examination:</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
									id="physical"
									name="physical"
                                />
                            </div>
                            <div class="form-group">
                                <label for="provi"
                                    >Provisional Diagnosis:</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
									id="provi"
									name="provisional"
                                />
                            </div>
                            <div class="form-group">
                                <label for="investigation">
                                    Investigation advised:
                                </label>
                                <textarea
                                    id="investigation"
                                    class="form-control"
									rows="5"
									name="investigation"
                                ></textarea>
                            </div>
                            <b>Medicines Advised:</b>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Medicine</th>
                                        <th>Schedule</th>
                                        <th>Instruction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    aria-label="Text input with segmented dropdown button"
                                                    style="width: 50%"
													id="i1"
													name="medicine"
                                                />
                                                <div class="input-group-append">
                                                    <button
                                                        type="button"
                                                        class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                    >
                                                        <span class="sr-only"
                                                            >Toggle
                                                            Dropdown</span
                                                        >
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a
                                                            class="dropdown-item d1"
                                                            onclick="enterInput(this)"
                                                            value="Seroflo 250 ROTACAP"
                                                            >Seroflo 250
                                                            ROTACAP</a
                                                        >
                                                        <a
                                                            class="dropdown-item d1"
                                                            onclick="enterInput(this)"
                                                            value="TIATE TRANSCAPS"
                                                            >TIATE TRANSCAPS</a
                                                        >
                                                        <a
                                                            class="dropdown-item d1"
                                                            onclick="enterInput(this)"
                                                            value="DOXIFOLO 650 mg TABLET"
                                                            >DOXIFOLO 650 mg
                                                            TABLET</a
                                                        >
                                                        <a
                                                            class="dropdown-item d1"
                                                            onclick="enterInput(this)"
                                                            value="AKT 4KIT"
                                                            >AKT 4KIT</a
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    aria-label="Text input with segmented dropdown button"
                                                    style="width: 50%"
													id="i2"
													name="dose"
                                                />
                                                <div class="input-group-append">
                                                    <button
                                                        type="button"
                                                        class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                    >
                                                        <span class="sr-only"
                                                            >Toggle
                                                            Dropdown</span
                                                        >
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a
                                                            class="dropdown-item d2"
                                                            onclick="enterInput(this)"
                                                            value="Once A Day"
                                                            >Once A Day</a
                                                        >
                                                        <a
                                                            class="dropdown-item d2"
                                                            onclick="enterInput(this)"
                                                            value="Twice A Day"
                                                            >Twice A Day</a
                                                        >
                                                        <a
                                                            class="dropdown-item d2"
                                                            onclick="enterInput(this)"
                                                            value="Thrice A Day"
                                                            >Thrice A Day</a
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    aria-label="Text input with segmented dropdown button"
                                                    style="width: 50%"
													id="i3"
													name="instruction"
                                                />
                                                <div class="input-group-append">
                                                    <button
                                                        type="button"
                                                        class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                        data-toggle="dropdown"
                                                        aria-haspopup="true"
                                                        aria-expanded="false"
                                                    >
                                                        <span class="sr-only"
                                                            >Toggle
                                                            Dropdown</span
                                                        >
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a
                                                            class="dropdown-item d3"
                                                            onclick="enterInput(this)"
                                                            value="After Breakfast"
                                                            >After Breakfast</a
                                                        >
                                                        <a
                                                            class="dropdown-item d3"
                                                            onclick="enterInput(this)"
                                                            value="After Dinner"
                                                            >After Dinner</a
                                                        >
                                                        <a
                                                            class="dropdown-item d3"
                                                            onclick="enterInput(this)"
                                                            value="Gargle After Use"
                                                            >Gargle After Use</a
                                                        >
                                                        <a
                                                            class="dropdown-item d3"
                                                            onclick="enterInput(this)"
                                                            value="Before Sleep"
                                                            >Before Sleep</a
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group">
                                <label for="physical">Advice:</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="advice"
                                />
                            </div>

                            <div>
                                <label for="follow">Next follow up:</label>
                                <input
                                    type="date"
                                    id="follow"
                                    name="trip-start"
                                />
                            </div>
                        </div>
                    </div>
				</div>
				<input class="btn btn-outline-secondary block" type="submit" value="submit">
            </form>
        </div>

        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
        <script>
            const enterInput = ele => {
                console.log(ele.getAttribute('value'));
                console.log(ele.className[15]);
                document.getElementById(
                    `i${ele.className[15]}`
                ).value = ele.getAttribute('value');
            };
        </script>
    </body>
</html>
