<!DOCTYPE html>
<html>
    <head>
        <title>SignIn</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <style>
            video {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                margin-top: 15px;
            }
        </style>
        <link rel="stylesheet" href="/formstyle.css" />
    </head>
    <body onload="init()">
            <% let res = rikki_text.replace(/:/gi," ")%>
            <% let str= res.trim(); %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <form action="/register" method="POST">
                            <div class="container">
                                <h3>Register</h3>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Create an account for MaxHealthcare
                                </h6>
                                <br />
                                <%li = str.indexOf('Name');%>
                                <%hi =  str.indexOf('पिता');%>
                                <input
                                    class="input-block-level"
                                    type="text"
                                    name="name"
                                    placeholder="Name"
                                    value="<%=str.slice(li+4,hi).trim()%>"
                                /><br />
                                <input
                                    class="input-block-level"
                                    type="Email"
                                    name="username"
                                    placeholder="Email"
                                /><br />
                                <input
                                    class="input-block-level"
                                    type="password"
                                    name="password"
                                    placeholder="password"
                                /><br /> 
                                <input
                                    class="input-block-level"
                                    type="text"
                                    name="fname"
                                    placeholder="Father's Name"
                                    value="<%=str.slice(li+13,hi).trim()%>"
                                /><br />
                                
                                <input
                                    class="input-block-level"
                                    type="date"
                                    name="dob"
                                    placeholder="DOB DD/MM/YYYY"
                                    value="<%=str.slice(li+13,hi).trim()%>"
                                /><br />
                                <input
                                    class="input-block-level"
                                    type="text"
                                    name="address"
                                    placeholder="Address"
                                /><br />
                                <input
                                    class="input-block-level"
                                    type="number"
                                    name="phone"
                                    placeholder="Phone"
                                    min="10"
                                /><br />
                                <input
                                    class="input-block-level"
                                    type="text"
                                    name="bloodg"
                                    placeholder="Blood Group"
                                /><br />
                                <input
                                    class="input-block-level"
                                    type="number"
                                    name="uid"
                                    placeholder="UID no."
                                /><br />

                                <textarea
                                    placeholder="Enter previous record here"
                                    rows="3"
                                    cols="60"
                                    class="md-textarea form-control"
                                ></textarea
                                ><br />

                                <button
                                    class="btn btn-primary btn-lg btn-block"
                                    type="Submit"
                                >
                                    Sign Up
                                </button>
                                <br /><br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <!-- adddddd -->
                                        <!-- <h6><center><small>OR</small></center></h6>
                            <h6 class="text-muted"><center><small>Sign in with</small></center></h6> -->
                                    </div>
                                    <div
                                        class="col-lg-6 col-md-6 col-sm-6"
                                    ></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col" style="margin-top: 105px" onload="init();">
                    <div class="row">
                        <div class="col">
                            <button
                                class="btn btn-info"
                                onclick="startWebcam();"
                            >
                                Start WebCam
                            </button>
                        </div>
                        <div class="col">
                            <button
                                class="btn btn-success"
                                onclick="snapshot();"
                            >
                                Take Snapshot
                            </button>
                        </div>
                    </div>
                    <video
                        onclick="snapshot(this);"
                        width="419"
                        height="400"
                        id="video"
                        controls
                        autoplay
                    ></video>
                    <p>
                        Screenshots :
                    </p>
                    <p>
                        <canvas id="myCanvas" width="400" height="350"></canvas>
                    </p>
                    <form action="/image" method="POST">
                        <input name="img" id="screenshot" />
                        <input type="submit" />
                    </form>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="/main.js"></script>
    </body>
</html>
